body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #777777;
  background-image: url("memphis-colorful.png");
}
  
header {
  background-color: #ffffff;
  color: #777777;
  border: solid 1px;
  padding: 30px;
}

#name {
  background-color: #4aaaa5;
  color: #ffffff;
}

.link {
  color:#777777
}

ul {
  list-style-type: none;
  color: #777777;
}

li {
  float: right;
}

li:nth-child(3) {
  border-right-style: solid;
  border-right-color: #777777;
  border-right-width: 1px;
}

li:nth-child(2) {
  border-right-style: solid;
  border-right-color: #777777;
  border-right-width: 1px;
}

#button {
  background-color: none;
  text-decoration: none;
  margin-bottom:2px;
  color: #777777;
  padding: 5px;  
}

#button:hover {
  color: black;
}
  
h1 {
  padding: 20px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  background: #4aaaa5;
  width: 15%;
  margin-bottom: -20px;
  position: fixed;
  left: 10%;
  top: 0;
  }

#maincontent {
  margin: 20px 200px 20px 200px;
  background-color: #ffffff;
  position: relative; 
  left: 30px; 
  top: 70px; 
  width: 960px; 
} 

h2 {
  padding: 30px 0px 30px 10px;
  margin: margin: 20px 200px 20px 200px;
  font-size: 24px;
  color: #4aaaa5;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #777777;
  }

#scratch{
  width: 100px;
  height: 100px;
}

#bio-photo {
  width: 250px;
  height: 200px;
  padding: 20px 10px 30px 10px;
  transform: rotate(90deg);
  float: left;
}

form {
  padding: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #777777;
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: 10px;
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: #4aaaa5;
}